.swiper {
    width: 1520px;
    height: 600px;
}

.container_comic {
    display: flex;
    background: rgb(0, 0, 24);
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.flecha {
    background-image: url("../capitulos/flecha_2.png");
    width: 58px;
    height: 105px;
    background-repeat: no-repeat;
    position: absolute;
    left: 16%;
    top: 25%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
@keyframes bounce-5 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-100px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}
.flecha_1 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 82%;
    top: 7%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
.flecha_2 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 48.5%;
    top: 66%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}

.estrellas {
    background-image: url("/capitulos/estrellas.png");
    width: 1300px;
    height: 560px;
    position: absolute;
    opacity: 5%;
}

.fugaz {
    animation-name: estrellita;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes estrellita {
    0% {
        opacity: 5%;
    }
    100% {
        opacity: 100%;
    }
}
.caos {
    background-image: url("/capitulos/caos.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 310px;
    position: absolute;
    left: 45%;
    top: 20%;
}

.anime {
    animation-name: nada;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes nada {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
.luna {
    background-image: url("../capitulos/luna.png");
    background-repeat: no-repeat;
    width: 230px;
    height: 210px;
    position: absolute;
    left: 75%;
    top: 10%;
    opacity: 5%;
}

.lu {
    animation-name: lunita;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes lunita {
    0% {
        opacity: 5%;
    }
    100% {
        opacity: 100%;
    }
}
.tierra {
    background-image: url("../capitulos/tierra.png");
    background-repeat: no-repeat;
    width: 640px;
    height: 560px;
    position: absolute;
    left: -5%;
    top: 40%;
    opacity: 5%;
}

.tie {
    animation-name: tierras;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes tierras {
    0% {
        opacity: 5%;
    }
    100% {
        opacity: 100%;
    }
}
.texto_esena1 {
    width: 396px;
    height: 120px;
    position: absolute;
    left: 500px;
    top: 450px;
    background-image: url("../capitulos/dialogos-01.png");
}

.texto_esena2  {
    width: 394px;
    height: 69px;
    position: relative;
    top: 50px;
    left: 50px;
    background-image: url("../capitulos/dialogos-02.png");
    z-index: 1;
}
.texto_esena3  {
    width: 395px;
    height: 70px;
    position: relative;
    top: 490px;
    left: 870px;
    background-image: url("../capitulos/dialogos-03.png");
    z-index: 1;
}
.texto_esena4  {
    width: 395px;
    height: 105px;
    position: absolute;
    top: 35px;
    left: 880px;
    background-image: url("../capitulos/dialogos-04.png");
}
.texto_escena5  {
    width: 395px;
    height: 85px;
    position: absolute;
    top: 490px;
    left: 870px;
    background-image: url("../capitulos/dialogos-05.png");
}
.texto_escena6  {
    width: 396px;
    height: 70px;
    position: absolute;
    top: 490px;
    left: 80px;
    background-image: url("../capitulos/dialogos-06.png");
}
.texto_escena7  {
    width: 395px;
    height: 70px;
    position: absolute;
    top: 490px;
    left: 70px;
    background-image: url("../capitulos/dialogos-07.png");
}






.texto_escena8  {
    width: 395px;
    height: 85px;
    position: absolute;
    top: 40px;
    left: 870px;
    background-image: url("../capitulos/dialogos-08.png");
}
.texto_escena9  {
    width: 395px;
    height: 95px;
    position: absolute;
    top: 40px;
    left: 870px;
    background-image: url("../capitulos/dialogos-09.png");
}
.texto_escena10 {
    width: 395px;
    height: 62px;
    position: absolute;
    top: 50px;
    left: 70px;
    background-image: url("../capitulos/dialogos-10.png");
}
.texto_escena10_1  {
    width: 395px;
    height: 62px;
    position: absolute;
    top: 50px;
    left: 870px;
    background-image: url("../capitulos/dialogos-10_1.png");
}
.texto_escena11  {
    width: 395px;
    height: 80px;
    position: absolute;
    top: 470px;
    left: 70px;
    background-image: url("../capitulos/dialogos-11.png");
}
.texto_escena12  {
    width: 395px;
    height: 89px;
    position: absolute;
    top: 470px;
    left: 70px;
    background-image: url("../capitulos/dialogos-12.png");
}

@keyframes intro {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
.comic-1 {
    display: flex;
    background: rgb(178, 211, 219);
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.grieta {
    width: 397px;
    height: 255px;
    background-repeat: no-repeat;
    background-image: url("../capitulos/grietas-4.png");
    position: absolute;
    top: 380px;
    left: 470px;
}

.roto {
    animation: 2s rotura steps(6) forwards;
}
@keyframes rotura {
    0%{
        background-position-x: 0px;
    }
    100% {
        background-position-x: calc(-2779px + 397px);
    }
}
.cesped {
    width: 100%;
    height: 225px;
    background-image: url("../capitulos/cesped.png");
    position: absolute;
    background-repeat: no-repeat;
    top: 380px;
}

.nube {
    width: 1294px;
    height: 147px;
    background-image: url("../capitulos/nubesotas.png");
    position: absolute;
    top: 700px;
    left: 5%;
    background-repeat: no-repeat;
}

.cssNube {
    animation: 8s cielo  forwards;
}
@keyframes cielo{
    0%{
        top: 700px;
        opacity: 0;
    }
    100%{
        top: 3px;
        opacity: 1;
    }
}
.cssGea {
    animation: 3s sale steps(11) forwards;
    animation-delay: 1s;
}
@keyframes sale {
    0%{
        top: 599px;
    }
    100%{
        top: 320px;
    }
    
}
.gea_tierra {
    width: 120PX;
    height: 150px;
    background-image: url("../capitulos/gea.png");
    background-repeat: no-repeat;
    top: 599px;
    position: absolute;
    left: 45%;
}

.nubes {
    width: 745px;
    height: 260px;
    background-image: url("../capitulos/nubes.png");
    position: absolute;
    background-repeat: no-repeat;
    top: 5px;
    left: 350px;
}
.uran-nube {
    width: 150px;
    height: 130px;
    background-image: url("../capitulos/urano_nuboso.png");
    position: absolute;
    background-repeat: no-repeat;
    top: 110px;
    left: 660px;
    animation-name: mirar;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes mirar {
    0%   { transform: translateX(280px); }
    50%  { transform: translateX(-300px); }
    100% { transform: translateX(280px); }
}

.heca-quieto {
    width: 500px;
    height: 408px;
    position: absolute;
    top: 210px;
    left: 95px;
}
.cssMove {
    animation: moveA 5s forwards;
} 

@keyframes moveA {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(360px);
    }
}
.flecha_3 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 24.6%;
    top: 33%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
.atrapar {
    width: 1440px;
    height: 600px;
}
.flecha_4 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 54%;
    top: 30%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
.flecha_5 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 12%;
    top: 30%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
.flecha_6 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 90%;
    top: 30%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
.flecha_7 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 5%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
.flecha_8 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 66%;
    top: 23%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
.flecha_9 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 70%;
    top: 10%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
.flecha_10 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 35%;
    top: 30%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
.flecha_11 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 23%;
    top: 33%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
.flecha_12 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 25%;
    top: 40%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
.flecha_13 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 63%;
    top: 20%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
.flecha_14 {
    background-image: url("../capitulos/flecha_p.png");
    width: 33px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    left: 51%;
    top: 10%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
/*animation-delay: es el tiempo de retardo entre que el elemento se carga y el comienzo de la animación. El valor por defecto es 0 y podemos utilizar segundos (s) o milisegundos (ms) como valores (por ej.: 2s ó 200ms).

animation-direction: especifica si la animación debe ser solo lineal o se debe invertir al terminar. El valor por defecto es: normal (una vez concluida la animación esta volverá a empezar desde el primer fotograma). Otro valor posible es: alternate, que una vez que llegue al final, invertirá el sentido de la animación.

animation-duration: la duración que tendrá. El valor por defecto es 0 y podemos utilizar segundos (s) o milisegundos (ms) como valores (por ej.: 2s ó 200ms).

animation-iteration-count: El número de veces que se repite. El valor por defecto es 1 y podemos indicar una cantidad numérica o utilizar infinite para que se repita indefinidamente.

animation-name: especifica el nombre de la animación y también sera el nombre asociado a los @keyframes (por ej.: foo);

animation-play-state: determina si la animación esta activa o no. El valor por defecto es: running (la animación va a ser reproducida) y el otro valor posible es: paused (la animación se pausará).

animation-timing-function: Indica el ritmo de la animación, es decir, como se muestran los fotogramas de la animación, estableciendo curvas de aceleración. */

@media only screen and (max-width: 2560px) { 
  
    .swiper{
        width: 1300px;

    }
    
}
@media only screen and (max-width: 320px) { 
  
    .swiper{
        width: 300px;

    }
    
}
 /* .estrellas{
        align-items: center;
        width: 2300px;
    }
    .texto_esena1{
        left: 600px;
        
    }
    .grieta{
        left: 555px;
    }
    .cesped{
       height: 617px;
        background-image: url("../capitulos/cesped-largo.png");
    }
    .nube{
        left: 12%;
    }*/